<%= form_with(model: part) do |form| %>
  <% if part.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(part.errors.count, "error") %> prohibited this part from being saved:</h2>

      <ul>
        <% part.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: 'form-control'%>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :manufacturer, style: "display: block" %>
    <%= form.text_field :manufacturer, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :part_type, style: "display: block" %>
    <%= form.text_field :part_type, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :version, style: "display: block" %>
    <%= form.text_field :version, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :build_type, style: "display: block" %>
    <%= form.text_field :build_type, class: 'form-control' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>














