<div id="<%= dom_id part %>">
  <h2>
    <%= part.name %>
  </h2>

  <p>
    <strong>Price:</strong>
    <%= part.price %>
  </p>

  <p>
    <strong>Part type:</strong>
    <%= part.part_type %>
  </p>

  <p>
    <strong>Build type:</strong>
    <%= part.build_type %>
  </p>

</div>
