<div id="<%= dom_id part %>">
  <p>
    <strong>Name:</strong>
    <%= part.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= part.price %>
  </p>

  <p>
    <strong>Manufacturer:</strong>
    <%= part.manufacturer %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= part.description %>
  </p>

  <p>
    <strong>Part type:</strong>
    <%= part.part_type %>
  </p>

  <p>
    <strong>Version:</strong>
    <%= part.version %>
  </p>

  <p>
    <strong>Build type:</strong>
    <%= part.build_type %>
  </p>

</div>
