<p style="color: green"><%= notice %></p>

<div id="parts" class="container">
  <h1>Parts</h1>

  <div class="row">
  <% @parts.each do |part| %>
    <div class="col-md-3">
      <div class="part-card mb-4">
         <%= image_tag part.image.url, class: "part-show" if part.image? %>

          <%= render part %>
          <p>
            <%= link_to "Show this part", part %>
          </p>
      </div><!-- part-card-->
      </div><!-- col-md-3-->
  <% end %>
</div><!-- row-->
</div>

<%= link_to "New Part", new_part_path %>