<p style="color: green"><%= notice %></p>

<div id="parts" class="container">
  <h1>Parts</h1>

  <%= link_to "New Part", new_part_path, :class =>"btn btn-primary" %>

  <div class="row pt-5">
  <% @parts.each do |part| %>
    <div class="col-md-3">
      <div class="part-card mb-4">
         <%= image_tag part.image.url, class: "part-card" if part.image? %>

          <%= render part %>
          <p>
            <%= link_to "View Part", part, :class => "btn btn-secondary" %>
          </p>
      </div><!-- part-card-->
      </div><!-- col-md-3-->
  <% end %>
</div><!-- row-->
</div>

