<% if @part.image? %>
<%= image_tag @part.image.url, class: "part-show" %>
<% end %>


<div class="container pt-5">
<%= render @part %>

  <div>
    <%= link_to "Edit this part", edit_part_path(@part) %> |
    <%= link_to "Back to parts", parts_path %>

    <%= button_to "Delete this part", @part, method: :delete %>
  </div>
</div><!-- container closes -->